<!DOCTYPE html>
<html>
<head>
    <title>Mind-Palette</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet"><!--font-family: 'Nanum Gothic Coding', monospace;-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"><!--font-family: 'Nanum Gothic', sans-serif;-->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css"><!--font-family: 'Nanum Square';-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"><!--font-family: 'Roboto', sans-serif;-->
    <link rel="stylesheet" href="https://use.typekit.net/lre7mpr.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/competition.css">
    <link rel="stylesheet" type="text/css" href="../static/css/title.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
	<div class="wrap">
    	{% include "header.html" %}
        <div class="sc-title"><span>.</span>Competition</div>
        <div class="cover"></div>
        <section id="container">
            <div class="competition">
                <div class="competition_img" style="background: url('../static/img/mind-palette_Competition_03.jpg');background-size: cover;"></div>
                <div class="title">Appjam</div>
                <div class="duration">2018.12.22 - 12.23</div>
            </div>
            <div class="competition">
                <div class="competition_img" style="background: url('../static/img/mind-palette_Competition_05.jpg');background-size: cover;"></div>
                <div class="title">Smarteen App Challenge 2018</div>
                <div class="duration">2018.04.03 - 05.08</div>
            </div>
            <div class="competition">
                <div class="competition_img" style="background: url('../static/img/mind-palette_Competition_07.jpg');background-size: cover;"></div>
                <div class="title">2018년 서울시 앱 공모전</div>
                <div class="duration">2018.06.01 - 09.30</div>
            </div>
        </section>

	</div>
</body>
</html>
