<div class="header">
    <div class="header_logo">
        <a href="#">
            <img src="../static/img/simbol_logo.jpg">
        </a>
    </div>
    <div class="menu_logo">
        <a href="#">
            <img src="../static/img/drawer_icon.jpg">
        </a>
    </div>
</div>
<nav id="menu_nav">
    <ul>
        <li>
            <a href="#">Major</a>
        </li>
        <li>
            <a href="#">Job</a>
        </li>
        <li>
            <a href="#">University</a>
        </li>
        <li>
            <a href="#">Certificate</a>
        </li>
        <li>
            <a href="#">Competition</a>
        </li>
    </ul>
</nav>
