<!DOCTYPE html>
<html>
<head>
    <title>Mind-Palette</title>
    <meta charset="utf-8">
    <meta name="author" content="">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noodp, index, nofollow">
	<meta name="theme-color" content="#F2F2F2">
	<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet"><!--font-family: 'Nanum Gothic Coding', monospace;-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"><!--font-family: 'Nanum Gothic', sans-serif;-->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css"><!--font-family: 'Nanum Square';-->
    <link rel="stylesheet" href="https://use.typekit.net/lre7mpr.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="header_logo">
				<a href="#">
					<img src="../static/img/simbol_logo.jpg">
				</a>
			</div>
			<div class="menu_logo">
				<a href="#">
					<img src="../static/img/drawer_icon.jpg">
				</a>
			</div>
		</div>
		<div class="main_description">
			나의 꿈을 이루며 자신만의 색을 찾아가기 위한 플랫폼
		</div>
	</div>
</body>
</html>
