<!DOCTYPE html>
<html>
<head>
    <title>Mind-Palette</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet"><!--font-family: 'Nanum Gothic Coding', monospace;-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"><!--font-family: 'Nanum Gothic', sans-serif;-->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css"><!--font-family: 'Nanum Square';-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"><!--font-family: 'Roboto', sans-serif;-->
    <link rel="stylesheet" href="https://use.typekit.net/lre7mpr.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/job.css">
    <link rel="stylesheet" type="text/css" href="../static/css/title.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
	<div class="wrap">
    	{% include "header.html" %}
        <div class="sc-title"><span>.</span>Job</div>
        <section id="container">
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_03.jpg'); background-size: cover;">
                <span><b>교육</b></span>
                <span>교육및자연과학·사회과학연구관련직</span>
            </div>
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_05.jpg'); background-size: cover;">
                <span><b>보건</b></span>
                <span>보건·의료관련직</span>
            </div>
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_07.jpg'); background-size: cover;">
                <span><b>문화</b></span>
                <span>문화·예술·디자인·방송관련직</span>
            </div>
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_12.jpg'); background-size: cover;">
                <span><b>기계</b></span>
                <span>기계관련직</span>
            </div>
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_13.jpg'); background-size: cover;">
                <span><b>금융·보험</b></span>
                <span>금융·보험관련직</span>
            </div>
            <div class="job_item"  style="background: url('../static/img/mind-palette_Job_14.jpg'); background-size: cover;">
                <span><b>전기·전자</b></span>
                <span>전기·전자관련직</span>
            </div>
        </section>

	</div>
</body>
</html>
