<!DOCTYPE html>
<html>
<head>
    <title>Mind-Palette</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet"><!--font-family: 'Nanum Gothic Coding', monospace;-->
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"><!--font-family: 'Nanum Gothic', sans-serif;-->
    <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css"><!--font-family: 'Nanum Square';-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet"><!--font-family: 'Roboto', sans-serif;-->
    <link rel="stylesheet" href="https://use.typekit.net/lre7mpr.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/major.css">
    <script src="../static/js/main.js"></script>
</head>
<body>
	<div class="wrap">
    	{% include "header.html" %}
		<div class="sc-title"><span>.</span>Major</div>
		<div class="sc-wrap">
			<ul>
				<li>
					<div class="circle" style="background: url('../static/img/인문.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						인문계열
					</div>
					<div class="cc-content">
						국어·국문학과<br>
						문예창작과<br>
						심리학과<br>
						역사·고고학과<br>
						윤리학과
					</div>
				</li>
				<li>
					<div class="circle" style="background: url('../static/img/교육.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						교육계열
					</div>
					<div class="cc-content">
						초등교육학과<br>
						유아교육학과<br>
						교육학과<br>
						예체능교육학과<br>
						윤리학과
					</div>
				</li>
				<li>
					<div class="circle" style="background: url('../static/img/공학.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						공학계열
					</div>
					<div class="cc-content">
						건축학과<br>
						화학공학학과<br>
						정보·통신공학과<br>
						섬유학과<br>
						항공학과
					</div>
				</li>
			</ul>
            <br><br><br>
			<ul>
				<li>
					<div class="circle" style="background: url('../static/img/예술.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						예체능계열
					</div>
					<div class="cc-content">
						디자인과<br>
						체육학과<br>
						경호학과<br>
						만화·애니메이션과<br>
						방송·연예학과
					</div>
				</li>
				<li>
					<div class="circle" style="background: url('../static/img/의학.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						의학계열
					</div>
					<div class="cc-content">
						간호학과<br>
						임상병리학과<br>
						응급구조학과<br>
						재활학과<br>
						치의학과
					</div>
				</li>
				<li>
					<div class="circle"  style="background: url('../static/img/사회.jpg'); background-size: cover;">
					</div>
					<div class="circle-title">
						사회계열
					</div>
					<div class="cc-content">
						경영학과<br>
						무역·유통학과<br>
						세무·회계학과<br>
						지리학과<br>
						사회복지학과
					</div>
				</li>
			</ul>

		</div>
	</div>
</body>
</html>
