#container{
    width:60%;
    margin:120px auto;
    text-align: center;
}
.job_item{
    background-color: #dcdcdc;
    width: 210px;
    height: 160px;
    margin: 10px;
    display: inline-block;
}
