#container{
    width:60%;
    margin:120px auto;
    text-align: center;
}
.job_item{
    background-color: #dcdcdc;
    width: 210px;
    height: 160px;
    margin: 10px;
    display: inline-block;
    text-align: left;
}
.job_item span{
    margin:1em;
    margin-left: 2em;
    display: block;
    font-weight: 100;
    font-size: 0.7em;
}
.job_item span b{
    margin-top:4em;
    font-weight: 400;
    font-size: 1.3em;
}
