body
{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	
	padding: 0;
	margin: 0;
	
	overflow: hidden;
}

section
{
	width: 100%;
	height: 100vh;
	
}

div.container
{
	width: 100%;
	height: 100%;
}

	div.wrap
	{
		width: 100%;
		height: 100vh;
		background: url('../img/main_background.jpg');
		background-size: cover;
		background-position: center center;
		
		position: relative;
	}
	div.wrap div.main_description
	{
		font-family: 'Nanum Square';
		font-size: 9pt;
		font-weight: 100;
		color: #fff;
		
		position: absolute;
		
		left: 50%; transform: translateX(-50%);
		top:75%;
		
	}
		div.wrap div.header
		{
			width: 100%;
			height: 80px;
			
			background: #fff;
			-webkit-box-shadow: 0px 4px 33px -5px rgba(102,102,102,1);
			-moz-box-shadow: 0px 4px 33px -5px rgba(102,102,102,1);
			box-shadow: 0px 4px 33px -5px rgba(102,102,102,1);
			
			position: relative;
		}
			div.header div.header_logo img
			{
				width: 40px;
				
				position: absolute;
				left: 5%;
				top: 50%; transform: translateY(-50%);
			}
			div.header div.menu_logo img
			{
				width: 24px;
				
				position: absolute;
				right: 5%;
				top: 50%; transform: translateY(-50%);
			}