div.wrap{
	background: #fafafa;
	
	position: relative;
}
div.sc-title{
	color: #9d9d9d;
	font-family: 'Nanum Square';
	font-weight: 900;
	font-size: 28pt;
	
	position: absolute;
	
	left: 50%; transform: translateX(-50%);
	top: 70px;
}
div.sc-title span{
	color: #f2d250;
	font-family: 'Roboto', sans-serif;
	font-size: 72pt;
}

div.sc-wrap{
	width: 700px;
	height: 600px;
	
	
	margin: 0 auto;
	
	margin-top: 100px;
}

div.sc-wrap ul{
	width: 700px;
	height: 300px;
	margin: 0;
	padding: 0;
}
div.sc-wrap ul li{
	width: 228px;
	height: 290px;
	
	display: inline-block;
	
	margin: 0;
	padding: 0;
	
	position: relative;
}

div.circle{
	width: 180px;
	height: 180px;
	
	border-radius: 50%;
	background: #f5e7cc;
	
	margin: 0 auto;
}
div.circle-title{
	position: absolute;
	left: 50%; transform: translateX(-50%);
	margin-top: 20px;
	
	color: #a4a4a4;
	font-weight: bold;
}
div.cc-content{
	color: #a4a4a4;
	font-size: 8pt;
	
	position: absolute;
	left: 50%; transform: translateX(-50%);
	margin-top: 50px;
}