#container{
    width:70%;
    margin:20px auto;
    text-align: center;
}
#select-container{
    width:50%;
    margin:150px auto 0px;
    text-align: left;
    height: 50px;
}
.university{
    display: inline-block;
    width: 210px;
    text-align: center;
    margin: 20px;
}
.university .title{
    margin-top: 1.3em;
    font-weight: 400;
    color:gray;
    font-size:1em;

}

.university .duration{
    margin-top: 0.7em;
    font-weight: 100;
    font-size:0.7em;

}
.university_img{
    background-color: #dcdcdc;
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 50%;
}

.styled-select-1 {
    width: 70px;
    height: 20px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url('../img/icon.jpg') no-repeat right white;
    border: 1px solid #dcdcdc;
    background-color: white;
    display: inline-block;
    position: relative;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.styled-select-1 select {
    background: transparent;
    -webkit-appearance: none;
    width: 100px;
    font-size: 11px;
    border: 0;
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
}
.styled-select-2 {
    width: 90px;
    height: 20px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url('../img/icon.jpg') no-repeat right white;
    border: 1px solid #dcdcdc;
    background-color: white;
    display: inline-block;
    position: relative;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}

.styled-select-2 select {
    background: transparent;
    -webkit-appearance: none;
    width: 100px;
    font-size: 11px;
    border: 0;
    height: 17px;
    position: absolute;
    left: 0;
    top: 0;
}
